<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>
		<title>Listado de Productos</title>
	</head>
	<body class="paddingtop-18vh">
		<header class="fixed"><%- include('partials/header') %></header>
		<main id="main-content">
			<%- include('./partials/slider') %>

			<section Class="flex">

				<div id = "productList" class="product-wrapper flex box-shadow margin-1 w-20 text-align ">


				</div>
			</section>

		</main>
		    <script src="/js/productControllers.js"></script>
		<%- include('./partials/footer') %>
	</body>
</html>
